<h1><%= @lesson.title %></h1>

<h3>Description:</h3>
<p><%= @lesson.description %> </p>
<h3>source:</h3>
<p><%= @lesson.external_link %></p>
<h3>View Status:</h3>
<p><%= @lesson.is_private %></p>
<hr>
<form class="" action="/dashboard/lessons/<%=@lesson.id%>" method="post">
<input type="hidden" name="_method" value="patch">
<div class="input-field col s12">
<input placeholder="" id="lesson_title" name="lesson_title" value="<%=@lesson.title%>" type="text" class="validate">
  <label for="lesson_title">Lesson Title</label>
</div>
<div class="input-field col s12">
<input placeholder='Enter Lesson Description' id='lesson_description' name="lesson_description" value="<%=@lesson.description%>" type='text' class='validate'>
  <label for='lesson_description'>Lesson Description</label>
</div>
<div class='input-field col s12'>
<input placeholder='Enter content link' id='external_link' value="<%=@lesson.external_link%>" type='text' name="external_link" class='validate'>
  <label for='external_link'>Link to Lesson Content</label>
</div>
<div class='input-field col s6'>
<input value="<%=@lesson.is_private%>" type="checkbox" id="is_private" name="is_private">
  <label for="is_private">Private Lesson</label>
</div>
<br>
<button type='submit' class='btn btn-success'>Update Lesson</button>
</form>
