<h2>Current playlist: <%= @playlist.name %></h2>
<%= erb(:_tag_display, :locals => {:object => @playlist, :parent_table => "playlists"}) %>
<%= erb(:_tag_form, :locals => {:object => @playlist, :parent_table => "playlists"}) %>
<h4>Description </h4>
<p><%= @playlist.description %></p>
<h5>Lessons Within this playlist</h5>
<% if @playlist.lessons.any?%>
  <div class="row">
    <% @playlist.lessons.each do |lesson| %>
      <div class="card-container col l6 m12 anchor">
        <%= erb(:_lesson_card, :locals => {:lesson => lesson}) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There are currently no lessons in this playlist. Use the dropdown below or the search function to add a lesson.</p>
<% end %>
<a href="/playlists/<%= @playlist.id %>/lessons/search" class="btn btn purple">Search Lessons</a>
<h4>Due Date</h4>
<h6><%=@playlist.due_date %></h6>
<form class="edit-mode hidden" action="/playlists/<%= @playlist.id() %>" method="post">
  <h1>Update <%= @playlist.name %></h1>
  <input name="_method" type="hidden" value="patch">
  <label for="playlist_name">Update playlist name:</label>
  <input id="playlist_name" name="playlist_name" type="text" value="<%=@playlist.name%>">
  <input name="_method" type="hidden" value="patch">
  <label for="new_playlist_description">Update playlist description:</label>
  <input id="new_playlist_description" name="new_playlist_description" type="text" value="<%=@playlist.description%>">
  <input type="date" class="datepicker" name="new_due_date" placeholder="Click to Enter Due Date" value="<%=@playlist.due_date%>">
  <button type="submit" class="btn center btn-success">Update</button>
</form>
<form class="edit-mode hidden" action="/playlists/<%= @playlist.id() %>" method="post"  id="delete-button">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn  red">Delete Playlist</button>
</form>
<button class="edit-mode btn cyan darken-2" onclick="editMode()">Edit</button>
<button class="edit-mode btn cyan darken-2 hidden left" onclick="editMode()">Back</button>
<br>
<br>
<div id="add_lesson_to_playist_form">
  <h4>Add a lesson to this playlist</h4>
  <% if @lessons.any? %>
    <form id="add_lesson_id" action="/playlists/<%=@playlist.id%>/lessons/add" method="post">
      <input name="_method" type="hidden" value="patch">
      <input type="hidden" name="playlist_id" id="playlist_id" value="<%= @playlist.id() %>">
      <br>
      <select id="lesson_id" name="lesson_id">
        <% @lessons.each() do |lesson| %>
          <option value="<%= lesson.id() %>"><%= lesson.title() %></option>
        <% end %>
      </select>
      <label for="lesson_id">Select a lesson:</label>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  <% else %>
    <p>There are no lessons to add. Make some!</p>
    <button class ="cyan" name="button"><a href="/lessons">Go to Lessons page!</a></button>
  <% end %>
</div>
