<%= erb(:_playlist_content)%>


<form class="edit-mode hidden" action="/playlists/<%= @playlist.id() %>" method="post">
  <h1>Update <%= @playlist.name %></h1>
  <input name="_method" type="hidden" value="patch">
  <label for="playlist_name">Update playlist name:</label>
  <input id="playlist_name" name="playlist_name" type="text" value="<%=@playlist.name%>">
  <input name="_method" type="hidden" value="patch">
  <label for="new_playlist_description">Update playlist description:</label>
  <input id="new_playlist_description" name="new_playlist_description" type="text" value="<%=@playlist.description%>">
  <input type="date" class="datepicker" name="new_due_date" placeholder="Click to Enter Due Date" value="<%=@playlist.due_date%>">
  <button type="submit" class="btn center btn-success">Update</button>
</form>

<form class="edit-mode hidden" action="/playlists/<%= @playlist.id() %>" method="post"  id="delete-button">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn  red right">Delete Playlist</button>
</form>
<div id="add-tags" class="edit-mode hidden card blue-grey lighten-3 white-text">
  <div class="card-content">
    <h5>Add Tags</h5>
    <form action="/playlists/<%= @playlist.id %>/tags" method="post">
      <div class="form-group">
        <label for="new-tags" class="black-text">Enter Tags (comma separated)</label>
        <input type="text" name="new-tags" id="new-tags">
      </div>
      <button class="btn blue">Add Tags!</button>
    </form>
  </div>
</div>
<button class="edit-mode btn purple" onclick="editMode()">Edit</button>
<button class="edit-mode btn purple hidden left" onclick="editMode()">Back</button>
<br>
<br>
<% unless @playlist.tags.empty? %>
<br>
<h5>Tags:</h5>
<% @playlist.tags.each do |tag| %>
<div class="edit-mode hidden inline">
  <form action="/playlists/<%= @playlist.id %>/tags/<%= tag.id %>" method="post" class="inline">
    <input type="hidden" name="_method" value="delete">
    <button class="btn red small-round" id="tag-remove-<%= tag.id %>"><i class="tiny material-icons">delete</i></button>
  </form>
</div>
<span class="chip teal white-text"><%= tag.name %></span>
<% end %>
<% end %>
<div id="add_lesson_to_playist_form">
  <h3>Add a lesson to this playlist!</h3>
  <form id="add_lesson_id" action="/playlists/<%=@playlist.id%>/lessons/add" method="post">
    <input name="_method" type="hidden" value="patch">
    <input type="hidden" name="playlist_id" id="playlist_id" value="<%= @playlist.id() %>">
  <br>
    <select id="lesson_id" name="lesson_id">
      <% @lessons.each() do |lesson| %>
      <option value="<%= lesson.id() %>"><%= lesson.title() %></option>
      <% end %>
    </select>
    <label for="lesson_id">Select a lesson:</label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
